.header .container {
  background-color: rgba(47, 50, 75, 0.85);
  /*background-blend-mode: overlay;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, cover;
  min-height: var(--min-height-header-container);
}

.header__nav {
  padding:  var(--paddging-container);
  padding-top: 15px;
  padding-bottom: 63px;
}

.header__section {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  padding: var(--paddging-section);
}

.header__title {
  margin-bottom: 23px;
  font-size: var(--f-size-h1);
  color: rgba(255, 255, 255, 0.86);
}

.header__text {
  line-height: 20px;
  margin-bottom: 15px;
  font-size: var(--f-size-header-text);
}

.header__more-info-btn {
  font-size: var(--f-size-btn);
}

.header__nav {
  display: flex;
  max-width: var(--max-width-container);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header__logo img{
  width: 30px;
  height: 30px;
}
.header__item {
  text-align: center;
}
.header__item--tel {
  display: none;
}

.header .container::after {
  position: absolute;
  width: 100%;
  height: var(--min-height-header-container);
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("__img-header/stag-office-mockup-no-bg.jpg");
  z-index: -10;
  top: 0;
}

.header__call-back-btn {
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("__img-header/Phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, contain;
}

.header__more-info-btn {
  width: 160px;
  height: 38px;
  border-radius: 50px;
  color:  var(--c-body-txt);
  background-color: var(--c-body-accent);
  box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
}

.footer__nav-list {
}

.header__call-back-link {
  display: none;
}

@media  (min-width: 780px) {

  .header__nav {
    padding:  var(--paddging-container);
    padding-top: 24px;
    padding-bottom: 35px;
  }

  .header__text {
    line-height: 25px;
    margin-bottom: 60px;
    font-size: var(--f-size-header-text);
    max-width: 748px;
  }

  .header__title {
    line-height: 47px;
    max-width: 908px;
    margin-bottom: 28px;
  }


  .header__item--tel, .header__call-back-link {
    display: inline-block;
  }
  .header__logo img{
    width: 60px;
    height: 60px;
  }

  .header__call-back-btn{
    display: none;
  }

  .header__call-back-link {
    font-size: var(--f-size-text-call-back);
    line-height: 15px;
    text-align: center;
    text-decoration: underline rgba(255, 255, 255, 0.5);
    text-underline-offset: 3px;
  }

  .header__item--tel {
    font-size:var(--f-size-tel);
    line-height: 15px;
    margin-bottom: 11px;
  }

  .header__more-info-btn {
    width: 202px;
    height: 48px;
  }

}


@media  (min-width: 1600px) {

  .header__section {
    padding-right: 182px;
  }

  .header__nav {
    padding:  var(--paddging-container);
    padding-top: 40px;
    padding-bottom: 87px;
    padding-right: 182px;
  }

  .header__title {
    line-height: 61px;
    margin-bottom: 32px;
  }

  .header__text {
    line-height: 31px;
    margin-bottom: 90px;
    font-size: var(--f-size-header-text);
    max-width: 960px;
  }

  .header__logo img{
    width: 68px;
    height: 68px;
  }

  .header__call-back-link {
    font-size: var(--f-size-text-call-back);
    line-height: 19px;
    text-align: center;
  }

  .header__item--tel {
    font-size:var(--f-size-tel);
    line-height: 28px;
    margin-bottom: 4px;
  }

  .header__more-info-btn {
    width: 202px;
    height: 48px;
  }
}

